#contact_modal {
    display: none;
}

.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.photograph-header img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 1px 1px 15px rgba(150, 150, 150, 0.5);
    
    order: 1;
  }
.photograph-header article {
    order: 0;
}
.photograph-header article h1 {
    color: #D3573C;
    font-size: 36px;
}

.photograph-header article > p:nth-child(2) {
    color: #901C1C;
    font-size: 22px;
}

.photograph-header article p:nth-child(3) {
    font-weight: bold;
}

.photograph-header article p:last-child {
    color: #525252;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
    order: 1;
}

#contact_modal {
    display: none;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 5;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 670px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}

.modal header {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}

.photoListe{
    display: grid;
  grid-template-columns: repeat(3, 400px);
  grid-gap: 30px;
  padding-top: 80px;
  margin-left: 100px;
}
.photoListe div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #901C1C;
    font-size: 24px;
    margin: 10px 0px 0px 0px;
    width: 350px;
}


.photoListe img {
    height: 300px;
    width: 350px;
    border-radius: 5px;
    object-fit: cover;
    box-shadow: 1px 1px 15px rgba(150, 150, 150, 0.5);
    
  }
  .photoListe video {
    height: 300px;
    width: 350px;
    object-fit: cover;
    box-shadow: 1px 1px 15px rgba(150, 150, 150, 0.5);
    
  }

  .photoListe article p:first-child {
    margin: 0px;
}
.photoListe article p:last-child {
    margin: 0px;
}

.photoListe article i {
    color: #901C1C;
}

.isLiked {
    filter: brightness(75%);
}

.sectionTri {
    margin: 10px 0px 0px 100px;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 25px;

}

.sectionTri div:first-child {
    display: flex;
}

.sectionTri p {
    font-size: 18px;
    font-weight: 700;
}

.dropdown {
    position: absolute;
    left: 200px;
    max-width: 170px;
    height: 50px;
    border-radius: 5px;
    color: #FFFFFF;
    background: #901C1C;
    transition: height 0.4s ease-in-out;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.bloc-top {
    padding: 20px;
    width: 100%;
    border: none;
    outline: none;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
    background: #901C1C;
    color: #FFFFFF;
    cursor: pointer;
    border-radius:  5px;
}


.bloc-top img {
    width: 20px
}



.bloc-links ul {
    padding: 0px;
    margin: 0px;
    font-size: 18px;
}

.bloc-links li {
    list-style-type: none;
    padding: 10px 0 10px 20px;
    border-bottom: #FFFFFF solid 1px;
    font-size: 18px;
}
.bloc-links li:last-child {
    border-bottom: none;
}

.asideLikesPrice {
    position: fixed;
    width: 376px;
    height: 80px;
    background: #DB8876;
    border-radius: 5px;
    color: black;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 31px;
    padding: 0 10px 0 10px;
    right: 36px;
    bottom: -11px;
    z-index: 5;
}

.asideLikesPrice div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#lightbox_modal {
    display: none;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 1);
    z-index: 9;
}

#lightbox-close {
    width: 42px;
    height: 42px;
    position: absolute;
    left: 94%;
    top: 6%;
    z-index: 10;
    text-decoration: none;
    cursor: pointer;
}

.media-container {
    display: flex;
    position: relative;
}

.media_name_container {
    width: 1253px;
    height: 984px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.media_name_container img, video {
    width: 1050px;
    height: 900px;
    object-fit: cover;
}

.custom-select {
    position: absolute;
    left: 200px;
    
}


  .select-selected {
    background-color: DodgerBlue;
  }
.sortSelect{
    width: 170px;
    height: 50px;
    font-size: 18px;
    border-radius: 5px;
    color: #FFFFFF;
    background: #901C1C;
}
.sortSelectSelected{
    height: 170px;
}

.sortSelect option {
    position: relative;
    height: 50px;
    line-height: 50px;
    
}

.select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
  }